
<hr>
<div class="footer">
  <p>
    <small>
      Iz <i class="fa fa-heart" aria-hidden="true"></i> prema Internetu, akciju pokrenuo <a href="mailto:aleksandar@r3bl.me">Aleksandar Todorović</a>. U dizajnu je pomogla <a href="https://forum.balkan.io/">Balkan I/O</a> ekipa.
    </small>
  </p>
  <p>
      <small>
        Kod web stranice je licenciran pod MIT licencom i njegov kod se može vidjeti <a href="https://github.com/aleksandar-todorovic/netneutralnost">ovdje</a>.
        Sav tekst na web stranici je objavljen pod <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 International</a> licencom.
      </small>
  </p>
</div>
