<span class="center">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" class="tag">
        <span class="term"><i class="fa fa-facebook-square"></i> Share</span>
    </a>
    <a href="https://twitter.com/intent/tweet?text=Podr%C5%BEavam%20net%20neutralnost!%20https%3A//netneutralnost.com%20%23NetNeutrality" title="Share on Twitter" class="tag">
        <span class="term"><i class="fa fa-twitter-square"></i> Tweet</span>
    </a>
</span>
<div style="clear:both"></div>
