	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<button class="dl-trigger">Otvori meni</button>
		<ul class="dl-menu">
			<li><a href="{{ site.url }}/">Početak</a></li>
			<li><a href="#sta-je-net-neutralnost">Šta je net neutralnost</a></li>
			<li><a href="#zasto-je-potrebna">Zašto je potrebna</a></li>
			<li><a href="#kako-je-definisana">Kako je definisana</a></li>
			<li><a href="#ko-je-ugrozava">Ko je ugrožava</a></li>
			<li><a href="#kako-se-borimo-za-nju">Kako smo se borili za nju</a></li>
			<li><a href="#kome-smo-se-pridruzili">Kome smo se pridružili</a></li>
			<li><a href="#ko-ucestvuje-u-akciji">Ko je učestvovao u akciji</a></li>
			<li><a href="#kako-je-akcija-izgledala">Kako je akcija izgledala</a></li>
			<li><a href="#sta-dalje">Šta će se dešavati dalje?</a></li>
			<li><a href="#zahvale">Zahvale</a></li>
		</ul><!-- /.dl-menu -->
	</nav><!-- /.dl-menuwrapper -->
